[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
isort = "*"
flake8 = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
pytest-django = "*"
django = "*"
django-pytest = "*"
djangorestframework = "*"
flake8 = "*"
drf-yasg = "*"
dj-database-url = "*"
dj-static = "*"
static3 = "*"
gunicorn = "*"
boto3 = "*"
psycopg2 = "*"
django-storages = "*"
docker-compose = "*"
django-environ = "*"

[requires]
python_version = "3.6"
